flows (3).json
[{"id":"54f1abd1.0feac4","type":"tab","label":"Customer service Chatbot","disabled":false,"info":""},{"id":"35021d5a.2b1292","type":"debug","z":"54f1abd1.0feac4","name":"Chatbot reply","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","x":770,"y":60,"wires":[]},{"id":"682a5641.671978","type":"ui_form","z":"54f1abd1.0feac4","name":"","label":"","group":"18b857a3.eef8f8","order":1,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your Query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":300,"wires":[["afe43b1e.769c68"]]},{"id":"afe43b1e.769c68","type":"function","z":"54f1abd1.0feac4","name":"","func":"msg.payload = \"Hi \"+msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["a28a5e29.66595","2fe16efc.b7a8c2"]]},{"id":"a28a5e29.66595","type":"ui_text","z":"54f1abd1.0feac4","group":"18b857a3.eef8f8","order":2,"width":0,"height":0,"name":"","label":"Chat Bot","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":380,"wires":[]},{"id":"2fe16efc.b7a8c2","type":"watson-conversation-v1","z":"54f1abd1.0feac4","name":"My chat bot","workspaceid":"7b3c8555-3c1a-4ae0-b695-9e771a9c33db","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fbc9d7c6-fc15-46bc-872a-02421f709140","timeout":"","optout-learning":false,"x":550,"y":160,"wires":[["35021d5a.2b1292","dd45343f.595888"]]},{"id":"edb900b8.538ce","type":"ui_text","z":"54f1abd1.0feac4","group":"83bd3512.3d51b8","order":1,"width":0,"height":0,"name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","x":840,"y":300,"wires":[]},{"id":"dd45343f.595888","type":"function","z":"54f1abd1.0feac4","name":"","func":"msg.payload.text=\"\"; \nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n          msg.payload.text=msg.payload.text+\"\\n\"+msg.payload.context.webhook_result_1.results[i].text; \n    } \n    msg.payload=msg.payload.text;\n} \nelse\nmsg.payload = msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":240,"wires":[["edb900b8.538ce"]]},{"id":"18b857a3.eef8f8","type":"ui_group","z":"","name":"How may I Help you?","tab":"8ce1a182.47e9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"83bd3512.3d51b8","type":"ui_group","z":"","name":"Chatbot","tab":"8ce1a182.47e9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ce1a182.47e9c","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]