node_red.json
[{"id":"afe7b625.c9c1e8","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"5cef353b.0513dc","type":"ui_form","z":"afe7b625.c9c1e8","name":"","label":"","group":"83bd3512.3d51b8","order":1,"width":0,"height":0,"options":[{"label":"Enter your query","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":260,"y":260,"wires":[["3c9e38ec.dd7df8"]]},{"id":"3c9e38ec.dd7df8","type":"function","z":"afe7b625.c9c1e8","name":"","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"x":420,"y":180,"wires":[["ff374c87.d2b78","13af013c.7b972f"]]},{"id":"2d42fdf2.260f12","type":"function","z":"afe7b625.c9c1e8","name":"","func":"msg.payload=msg.payload.output.text[0];\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":180,"wires":[["43d3cd9.75ed634"]]},{"id":"13af013c.7b972f","type":"watson-conversation-v1","z":"afe7b625.c9c1e8","name":"Customer care Help Desk Chatbot","workspaceid":"12b82344-2856-4907-9861-f403cc7ac495","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/fbc9d7c6-fc15-46bc-872a-02421f709140","timeout":"","optout-learning":false,"x":620,"y":120,"wires":[["2d42fdf2.260f12","96582587.b23b28"]]},{"id":"ff374c87.d2b78","type":"ui_text","z":"afe7b625.c9c1e8","group":"83bd3512.3d51b8","order":2,"width":0,"height":0,"name":"","label":"Customer","format":"{{msg.payload}}","layout":"row-left","x":590,"y":280,"wires":[]},{"id":"96582587.b23b28","type":"debug","z":"afe7b625.c9c1e8","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":840,"y":60,"wires":[]},{"id":"43d3cd9.75ed634","type":"ui_text","z":"afe7b625.c9c1e8","group":"83bd3512.3d51b8","order":3,"width":11,"height":1,"name":"","label":"bot","format":"{{msg.payload}}","layout":"row-spread","x":860,"y":240,"wires":[]},{"id":"83bd3512.3d51b8","type":"ui_group","z":"","name":"Chatbot","tab":"8ce1a182.47e9c","order":2,"disp":true,"width":11,"collapse":false},{"id":"8ce1a182.47e9c","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]