Website
[{"id":"54f1abd1.0feac4","type":"tab","label":"Flow 2","disabled":false,"info":""},{"id":"cd43f03c.fc73c","type":"inject","z":"54f1abd1.0feac4","name":"","topic":"","payload":"Hi","payloadType":"str","repeat":"","crontab":"","once":false,"onceDelay":0.1,"x":170,"y":180,"wires":[["35021d5a.2b1292"]]},{"id":"35021d5a.2b1292","type":"debug","z":"54f1abd1.0feac4","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":630,"y":140,"wires":[]},{"id":"682a5641.671978","type":"ui_form","z":"54f1abd1.0feac4","name":"","label":"","group":"18b857a3.eef8f8","order":1,"width":0,"height":0,"options":[{"label":"Enter the name","value":"name","type":"text","required":true,"rows":null},{"label":"Enter Email","value":"email","type":"email","required":true,"rows":null},{"label":"Enter your Query","value":"query","type":"text","required":true,"rows":null}],"formValue":{"name":"","email":"","query":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":160,"y":300,"wires":[["afe43b1e.769c68"]]},{"id":"afe43b1e.769c68","type":"function","z":"54f1abd1.0feac4","name":"","func":"msg.payload = \"Hi\"+msg.payload.name;\nreturn msg;","outputs":1,"noerr":0,"x":380,"y":280,"wires":[["35021d5a.2b1292","a28a5e29.66595"]]},{"id":"a28a5e29.66595","type":"ui_text","z":"54f1abd1.0feac4","group":"83bd3512.3d51b8","order":1,"width":0,"height":0,"name":"","label":"Solution","format":"{{msg.payload}}","layout":"row-spread","x":590,"y":380,"wires":[]},{"id":"18b857a3.eef8f8","type":"ui_group","z":"","name":"How may I Help you?","tab":"8ce1a182.47e9c","order":1,"disp":true,"width":"6","collapse":false},{"id":"83bd3512.3d51b8","type":"ui_group","z":"","name":"RESULTS","tab":"8ce1a182.47e9c","order":2,"disp":true,"width":"6","collapse":false},{"id":"8ce1a182.47e9c","type":"ui_tab","z":"","name":"Customer Help Desk","icon":"dashboard","disabled":false,"hidden":false}]
